[Desktop Entry]
Encoding=UTF-8
Name=wmforkplop
Comment=Kernel processes monitoring dock app
Comment[pl]=Aplet monitorujący procesy jądra
Exec=wmforkplop
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
